<% content_for(:title) { "Setup Password" } %>

<div id="login">
  <h2>Setup Password</h2>  
  <%= semantic_form_for @password, builder: ActiveAdmin::FormBuilder do |f| %>
    <%= f.inputs do %>
      <%= f.input :password %>
    <% end %>
    <%= f.actions class: :buttons do %>
      <%= f.action :submit, label: 'Update Password' %>
    <% end %>
  <% end %>
</div>
